@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-Regular.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-Light.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-Thin.ttf);
  font-weight: 100;
  font-style: normal;
}

// ? ? ? ? ? ?
// ? COLOURS ?
// ? ? ? ? ? ?

$main-dark: rgb(17, 17, 17);
$main-dark-transparent: rgba(17, 17, 17, 0.472);
$main-grey: rgb(170, 166, 166);
$main-light: rgb(246, 242, 242);
$main-red-accent: rgb(245, 22, 22);

// ? ? ? ? ? ? ? ? ? ? ? ?
// ? GLOBALS VARIABLES ?
// ? ? ? ? ? ? ? ? ? ?

$default-border-radius: 5px;

// ? ? ? ? ? ? ? ? ? ?
// ? GLOBALS STYLES ?
// ? ? ? ? ? ? ? ? ?

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Raleway;
  font-weight: 500;
  letter-spacing: 0.025em;
}

html {
  background-color: $main-dark;
  position: relative;
}

body {
  margin: 0;
}

img {
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;

  .resume {
    margin: 1em 0;
    width: 100%;
  }

  .edit {
    min-width: 100%;
    padding: 0.5em 1.5em;
    background-color: transparent;
    border: $main-dark 2px solid;
    color: $main-dark;
  }
}

button {
  border: none;
  background-color: $main-red-accent;
  color: white;
  padding: 0.5rem;
  border-radius: $default-border-radius;
  font-size: 1rem;
  cursor: pointer;
}

textarea {
  resize: vertical;
  min-height: 200px;
  max-height: 300px;
}

svg {
  pointer-events: none;
}

.red-glow {
  box-shadow: 5px -1px 20px -5px $main-red-accent;

  $strong-shadow: 5px 2.5px 30px 0px adjust-hue($main-red-accent, -15deg);

  &.animated {
    transition: all ease-out 500ms;
    transform: scale(1);

    &:hover {
      transition: all ease-in 400ms;
      transform: scale(1.05);
      box-shadow: $strong-shadow;
    }
  }

  &.strong {
    box-shadow: $strong-shadow;
  }
}

// ? ? ? ? ? ? ? ? ? ? ? ?
// ? Page Header Styles ?
// ? ? ? ? ? ? ? ? ? ? ?

#page-header {
  position: relative;

  ul {
    list-style: none;
    padding: 0;
  }
  background-color: $main-dark;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  .v-icon {
    color: white;
  }

  h1 {
    font-size: clamp(2rem, 0.25rem + 2.5vw, 4rem);
    font-weight: 500;
    text-align: center;
    margin: 1em;
  }

  #shopping-utilities {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    margin: 1em 0 2em;

    button {
      background-color: transparent;
      border: none;
      color: $main-light;
    }

    @media (max-width: 550px) {
      & > .categories.medium-screen {
        display: none;
      }
    }

    @media (min-width: 550px) {
      & > .categories.small-screen {
        display: none;
      }
    }

    & > li {
      display: flex;
    }

    .v-icon {
      font-size: 1.5em;
    }

    .categories,
    .cart {
      padding: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .categories.medium-screen {
      position: relative;

      button {
        font-size: 1.5em;
        padding-right: 25px;
      }

      button::after {
        content: '>';
        position: absolute;
        rotate: 90deg;
        translate: 8px 2px;
      }
    }

    .search-bar {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;

      li {
        width: 100%;
      }
      input {
        border-radius: 2.5em;
        border: 2px solid $main-light;
        background: none;
        width: 100%;
        height: 2.5em;
        padding: 0 1em 0 3em;
        color: $main-light;
        font-size: 1.25em;
      }

      .v-icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0.75em;
        margin: auto;
        height: 0.75em;
      }
    }
  }
}

$border-default: 1px lighten($main-dark, 80%) solid;

#cart-sidebar {
  @media (max-width: 750px) {
    inset: 0;
    margin: auto;
    width: 90%;
  }

  &.close {
    height: 0;
  }

  position: relative;
  top: 20%;
  right: 7.5%;
  margin: 0 0 auto auto;
  width: calc(500px + 15vw);
  padding: 0em;
  background-color: transparent;

  .transparent-row {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;

    h2 {
      color: white;
      padding: 0 0.5em;
    }

    .close-button {
      top: -10px;
      z-index: 1;
      background-color: transparent;
      color: $main-red-accent;

      .v-icon {
        font-size: 2em;
      }
    }
  }

  .cart-item-container {
    border: 2px transparent solid;
    border-radius: 15px;
    overflow: hidden;
    height: fit-content;
    min-height: 350px;
    max-height: 650px;
  }

  .cart-items {
    min-height: 150px;
    max-height: 300px;
    width: 100%;
    overflow-y: scroll;
    background-color: white;

    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 150px;
      width: 100%;
      border-bottom: $border-default;

      &.empty-cart-msg {
        align-items: center;
        justify-content: center;
        color: $main-dark-transparent;
      }

      .img-and-item-name {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (max-width: 600px) {
          .image-container {
            display: none;
          }

          h4 {
            padding-left: 2em;
          }
        }

        .image-container {
          min-width: 150px;
          max-width: 150px;

          img {
            border: $border-default;
            border-radius: 5px;
          }
        }

        h4 {
          color: lighten($main-dark, 40%);
          font-size: 1em;
          max-width: calc(200px + 10vw);
          padding-right: 2em;
        }
      }

      .price-quantity-drop-item {
        & > * {
          margin: 0 1rem;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 250px;

        .price,
        .quantity {
          font-size: 1.5rem;
        }

        .price {
          font-weight: 700;
        }

        button {
          background-color: transparent;
          color: black;
          font-size: 1.5rem;
        }
      }
    }
  }

  .cart-details {
    min-height: 275px;
    border-top: $border-default;
    background-color: lighten($main-dark, 90%);

    h3 {
      text-align: center;
      color: lighten($main-dark, 40%);
      margin: 1em;
    }

    h4 {
      text-align: center;
      font-size: 2.5em;
      border-top: $border-default;
      margin: 0 15%;
      padding-top: 0.25em;
    }

    .button-row {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      padding: 3rem 0;

      @media (max-width: 550px) {
        flex-direction: column;
        align-items: center;

        & > *:last-child {
          margin-top: 2rem;
        }

        button {
          font-size: 0.75em;
          max-width: none !important;
          width: fit-content !important;
        }
      }

      button {
        font-size: 1.5em;
        max-width: 30%;
        padding: 0.5em 0.75em;
        transition: margin 0ms;
      }

      button.edit {
        background-color: inherit;
        border: 2px solid black;
        color: black;
      }
    }
  }
}

// ? Animation for cart sidebar
dialog {
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes slidein {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes slideout {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(-100%);
      opacity: 0;
    }
  }

  display: block;
  opacity: 0;
  pointer-events: none;
  border: none;

  &[open] {
    opacity: 1;
    pointer-events: auto;
    animation: slidein 0.5s forwards;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadein 0.5s forwards;
  }

  &.close[open] {
    animation: slideout 0.5s forwards;
  }

  &.close::backdrop {
    animation: fadeout 0.5s forwards;
  }
}

// ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ?
// ? Dropdown Styles (Categories & Search Bar) ?
// ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ? ?

.dropdown {
  position: absolute;
  height: 100px;
  width: 80vw;
  background-color: white;
  border-radius: 2.5px;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: -100px;
  margin: auto;

  &.open {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0ms ease-in-out, opacity 400ms linear 0ms;
  }

  opacity: 0;
  transform: translate(-1000px);
  transition: opacity 400ms ease-in-out, transform 0ms linear 400ms;
}

#search-bar-dropdown {
  width: 80vw;

  @media (max-width: 500px) {
    width: 100vw;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

    div {
      margin: 0;
    }
  }

  @keyframes color-fade {
    0%, 100% {color: white;}

    50% {color: $main-grey;}
  }

  .loading-notice {
    text-align: center;
    padding: 0 2em 2em;
    color: white;
    font-style: italic;
    letter-spacing: .1em;
    animation: color-fade 5s infinite ease-in-out 2s;
  }

  .items {
    box-shadow: 1px 1px 25px black;

    padding: 0;
    background-color: white;
    min-height: 100px;
    height: min-content;
    max-height: 500px;

    overflow-y: hidden;

    & > a {
      min-height: 100px;
      max-height: 100px;

      &:last-child > * {
        border-bottom: none;
      }
    }
  }

  .item {
    padding: 1em 2em;
    min-height: 100px;
    max-height: 100px;
    max-width: 100%;
  }
}

#categories-dropdown {
  box-shadow: 1px 1px 25px black;

  $dropdown-height: 100px;
  $dropdown-height-flex-column: 300px;

  border-left: $main-red-accent 5px solid;

  @media (max-width: 1000px) {
    width: 100vw;
    border-left: none;
    border-bottom: $main-red-accent 5px solid;
  }

  @media (max-width: 750px) {
    height: $dropdown-height-flex-column;
    bottom: -$dropdown-height-flex-column;

    a {
      width: 80%;
    }

    ul {
      flex-direction: column;
      align-items: center;
      text-align: center;

      .list-item {
        margin-right: 0;
        padding: 0.5em 0;
        border-right: none;
        border-bottom: 1px lighten($main-grey, 20%) solid;
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 2rem 1rem;
    height: 100%;

    li {
      padding: 0 2em;
      font-size: 1.25rem;
      border-bottom: none;
      border-right: 1px lighten($main-grey, 20%) solid;
    }

    & > *:first-child > li {
      padding-left: 0;
    }

    & > *:last-child > li {
      border: none;
      padding-right: 0;
    }
  }
}

// ? ? ? ? ? ? ? ? ? ? ? ? ?
// ? Added To Cart Styles ?
// ? ? ? ? ? ? ? ? ? ? ? ?

.notification {
  height: clamp(5rem, 10vw, 8rem);
  width: calc(200px + 10vw);
  max-width: 275px;
  position: fixed;
  z-index: 1;
  background: $main-red-accent;
  margin: 0 auto auto auto;
  inset: 0;
  top: 5vh;
  padding: 3em 2em;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 7.5px;
  color: white;
  transform: translateY(-500px);
  transition: transform 600ms ease-in-out;

  h2 {
    font-size: clamp(1em, 2vw, 1.5em);
    text-shadow: 2px 1px 15px white;
  }

  &.open {
    transform: translateY(0);
  }
}

// ? ? ? ? ? ? ? ? ? ? ? ?
// ? Visualiser Styles ?
// ? ? ? ? ? ? ? ? ? ?

#visualiser {
  height: 50vh;
  position: relative;
  color: $main-light;

  .video-overlay {
    top: -2px;
    height: calc(100% + 3px);
    width: 100%;
    position: absolute;
    background: linear-gradient($main-dark, $main-dark-transparent);
    background-color: none;
    z-index: 1;
    transition: background-color 2s;

    &.hidden {
    background-color: black;

    }
    &.revealed {
      background-color: none;
      }

    h2 {
      display: flex;
      align-items: center;
      width: 80%;
      height: 100%;
      margin: auto;
      font-size: clamp(2em, 0.5em + 2vw, 5em);
      line-height: 1.5em;
    }
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// ? ? ? ? ? ? ? ? ? ? ? ? ? ? ?
// ? Merchandise Items Styles ?
// ? ? ? ? ? ? ? ? ? ? ? ? ? ?

.shopping-section {
  color: $main-dark;
  padding: 2rem 0 3rem;
  background-color: white;
}

.item-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 10%;
  min-height: fit-content;
}

h2.section-header {
  font-weight: 500;
  text-align: center;
  font-size: clamp(1.5em, 1em + 4vw, 5em);
  padding: 0 1em;
}

.item-card {
  display: flex;
  flex-direction: column;
  border: $main-dark-transparent 2px solid;
  margin: 2rem 2rem;
  width: 240px;
  min-height: 500px;
  overflow: hidden;
  box-shadow: 5px 5px 30px -10px $main-dark;
  transition: box-shadow 300ms ease-in-out;

  h3 {
    margin: 0;
    padding: 1em;
    width: 100%;
    border-bottom: $main-dark-transparent 2px solid;
    text-align: center;
    font-size: 1.6em;
  }

  h3.individual-item {
    padding-top: 0.5em;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.08em;
  }

  p {
    width: 80%;
    text-align: center;
    font-style: italic;
    letter-spacing: 0.05em;
  }

  .price {
    text-align: center;
    max-height: fit-content;
  }
}

.image-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
}

.item-card:hover {
  box-shadow: 0px 0px 40px 0px darken($main-red-accent, 10%);
}

.individual-merchandise-item {
  padding: 0 1em;
  text-align: center;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
  }

  .item-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  h2 {
    font-weight: 700;
  }

  p {
    font-size: clamp(1em, 0.3em + 1.5vw, 1.5em);
    padding: 0 2em;
  }

  .price {
    font-size: clamp(3em, 1.5em + 2vw, 4em);
  }

  .quantity-and-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    padding: 1rem 0;
    justify-content: space-evenly;

    .quantity,
    .add-to-cart {
      height: 100%;
      font-weight: 700;
      width: 40%;
    }

    .add-to-cart {
      transition: all 300ms;
    }

    .quantity {
      border: black 2px solid;
      border-radius: $default-border-radius;
      min-width: 100px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .quantity-adjust {
        padding: 0.5em;
        background-color: inherit;
        color: black;
        font-size: clamp(1.5em, 0.5em + 5vw, 2em);
      }

      p {
        padding: 0;
      }
    }
  }
}

.inactive {
  opacity: 0.5;
  background-color: grey;
  box-shadow: none;
  cursor: not-allowed;
}

// ? ? ? ? ? ? ? ? ? ? ?
// ? Edit Cart Styles ?
// ? ? ? ? ? ? ? ? ? ?

#edit-cart {
  display: flow-root;
  background-color: white;
  padding: 0 3em 4rem;

  h1 {
    margin: 1em auto;
    width: fit-content;
    font-size: 3em;
  }

  .warning {
    color: $main-grey;
    font-size: 1.5em;
    text-align: center;
    padding: 2em 0;
  }

  .pay-and-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;

    @media (max-width: 600px) {
      flex-direction: column-reverse;

      .total-price {
        margin-bottom: 2em;
      }
    }

    .pay-now {
      button {
        text-align: left;
        padding: 1em 3em;
      }
    }

    .total-price {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      h2:first-child {
        margin-right: 1em;
      }

      h2:last-child {
        font-weight: 500;
        font-size: 1.75em;
      }
    }
  }
}

// ? ? ? ? ? ? ? ? ? ? ? ? ? ?
// ? Loading Spinner Styles ?
// ? ? ? ? ? ? ? ? ? ? ? ? ?

.loading-spinner {
  margin: 2rem 0 4rem;

  // Custom loading effect I found on the interwebs
  .lds-default {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: $main-red-accent;
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }
  @keyframes lds-default {
    0%,
    20%,
    80%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
  }
}

// ? ? ? ? ? ? ? ? ? ?
// ? Footer Styles ?
// ? ? ? ? ? ? ? ?

footer {
  color: $main-light;
  background-color: $main-dark;
  height: 100px;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

// ? ? ? ? ? ? ? ? ? ? ?
// ? Checkout Styles ?
// ? ? ? ? ? ? ? ? ?

#checkout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 100vh;

  @media (max-width: 800px) {
    & .cart {
      display: none !important;
    }

    & .user {
      width: 100vw !important;
    }
  }

  @media (max-width: 500px) {
    .item-container {
      flex-direction: column;

      & > *:not(:first-child) {
        padding-top: 1rem;
      }

      & > .form-item {
        padding-right: 0 !important;
      }
    }
  }

  button.link {
    margin: 2rem 0 2rem 67%;
    width: 33%;
    padding: 0.75em;
    font-weight: 700;
    font-size: 1.25em;
    letter-spacing: 0.1em;
    text-align: left;
  }

  .details {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100%;

    h2:first-child {
      padding-bottom: 1rem;
    }

    & > * {
      max-width: 800px;
      width: 100%;
    }
  }

  .user {
    width: 60vw;
    background-color: white;

    & > *:not(button) {
      margin-right: 0;
      margin-left: auto;
      border-bottom: 1.5px solid lighten($main-grey, 30%);
      padding-bottom: 1rem;
    }

    .breadcrumbs {
      display: flex;
      border-bottom: none;

      & > div,
      a {
        display: flex;
        align-items: center;
        margin-top: -1rem;

        & > * {
          padding: 0 0.25rem;
          font-style: italic;
          color: $main-grey;
        }

        &.filled {
          p {
            color: $main-dark;
          }

          p:first-child {
            text-decoration: 1px solid underline;
            text-underline-offset: 2px;
          }
        }
      }
    }

    h2 {
      font-weight: 500;
      letter-spacing: 0.05em;
    }

    form {
      font-size: 1em;

      input,
      textarea {
        border-radius: 5px;
        border: 2px solid lighten($main-grey, 25%);
        font-size: 1em;
        min-height: 0.4em;
        padding: 1em 0.5em;

        &::placeholder {
          font-weight: 300;
          color: lighten($main-grey, 10%);
        }
      }

      textarea {
        min-height: 75px;
      }

      .item-container {
        display: flex;
        width: 100%;
        max-width: 100vw;
        padding: 0.5rem 0;
      }

      .form-item {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: auto;
        padding-right: 1rem;

        & > *:first-child {
          padding-bottom: 0.5rem;
          font-style: italic;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .disclaimer {
      color: $main-grey;
      font-weight: 100;
      text-align: justify;
    }
  }

  .cart {
    width: 40vw;
    background-color: lighten($main-grey, 30%);

    & > h2 {
      border-bottom: 1.5px solid lighten($main-grey, 20%);
      margin-bottom: 0;
    }

    .subtotal,
    .shipping,
    .total {
      margin-right: 0;
      margin-left: auto;
      border-bottom: 1.5px solid lighten($main-grey, 20%);
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > *:last-child {
        font-size: 1.5em;
        font-weight: 500;
      }
    }

    .shipping {
      & > div > *:last-child {
        color: $main-grey;
        font-weight: 500;
        font-style: italic;
      }
    }

    .total {
      align-items: center;

      & > *:last-child {
        font-size: 3em;
        font-weight: 500;
      }
    }
  }

  input.warning {
    outline: 2px solid $main-red-accent;
  }

  .thank-you-message {
    text-align: center;
    width: fit-content;

    .header {
      font-weight: 500;
      letter-spacing: 0.1em;
      color: $main-grey;
    }

    h2 {
      font-weight: 700;
    }

    img {
      padding: 2em 0;
      width: 80%;
      object-fit: scale-down;
      border-radius: 5px;
    }
  }
}

.items {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0 1rem;
  margin: 0;
  width: auto;
  max-height: 300px;
  overflow-y: scroll;

  &.edit-cart-background-and-display {
    align-items: center;
    justify-content: center;
    max-height: none;

    .item {
      display: flex;
      min-height: fit-content;
      height: 175px;
      padding: 1em 0;
      font-size: clamp(1.5em, 5vw, 2em);

      &:last-child {
        border: none;
      }

      @media (max-width: 450px) {
        flex-direction: column;
        justify-content: center;
        height: 250px;

        p {
          margin: 0.5rem;
        }

        & *:not(button) {
          padding-right: 0;
          justify-content: center;
        }

        & > * {
          margin: 0.5rem;
        }

        .adjust-item {
          padding-left: 0;
          flex-direction: row;
        }
      }
    }

    @media (max-width: 500px) {
      .image-container {
        display: none;
      }
    }
  }

  .item {
    display: flex;
    align-items: center;
    max-width: 800px;
    width: 100%;
    min-height: 100px;
    border-bottom: 1.5px solid lighten($main-grey, 20%);

    h3 {
      display: flex;
      margin: 0;
      width: auto;
      font-weight: 500;
    }

    p {
      width: fit-content;
      padding-right: 1rem;
      font-size: 0.75em;
      font-weight: 700;
    }

    & > * {
      width: 100%;
      display: flex;
      align-items: center;
      height: 100px;
      justify-content: flex-start;

      & > *:first-child:not(button) {
        width: 100px;
        min-width: 100px;
        margin: 0;
        padding-left: 0;
        margin-left: -0.5rem;
      }

      & > *:not(button) {
        padding-right: 1rem;
      }
    }

    .adjust-item {
      display: flex;
      flex-direction: column;
      padding-left: 2em;
      width: fit-content;
      height: fit-content;

      & > button {
        text-align: center;
        width: 40px;
        min-width: 40px;
        height: 40px;
        max-height: 40px;
        margin: 0.25rem 0;

        background-color: transparent;
        border: $main-dark 2px solid;
        color: $main-dark;

        &:nth-child(2) {
          border: none;
          font-size: 1.5rem;
        }
      }
    }
  }
}

// ? ? ? ? ? ? ? ? ? ? ? ? ? ?
// ? Feedback Bubble Styles ?
// ? ? ? ? ? ? ? ? ? ? ? ? ?

$feedback-left: 10%;

.feedback-bubble {
  position: fixed;
  bottom: -50px;
  height: 100px;
  width: calc(120px + 2.5vw);
  left: $feedback-left;
  border-radius: 25px;
  background-color: $main-red-accent;
  border: 2px solid $main-light;
  z-index: 2;
  cursor: pointer;

  p {
    margin-top: -25px;
    font-weight: 700;
    letter-spacing: 0.1em;
    font-size: 1.25em;
    color: $main-light;
  }
}

.feedback-portal {
  position: fixed;
  bottom: -400px;
  left: $feedback-left;
  width: 60%;
  background-color: white;
  border-radius: 25px;
  padding: 0 2rem;
  box-shadow: 1px 1px 20px -5px $main-dark;
  z-index: 1;
  transition: bottom ease-in 400ms;

  h3 {
    border-bottom: 2px $main-dark-transparent solid;
    padding-bottom: 1rem;
  }

  textarea {
    height: 100px;
    max-height: 200px;
    width: 100%;
    resize: none;
    background-color: inherit;
    border: none;
    outline: $main-red-accent !important;
  }

  button {
    margin: 1rem 0;
  }

  &.open {
    bottom: 75px;
  }
}

// ? ? ? ? ? ? ? ? ? ? ? ? ? ?
// ? Feedback Bubble Styles ?
// ? ? ? ? ? ? ? ? ? ? ? ? ?

#page-not-found {
    background: white;
    padding: 2em 4em;
    text-align: center;

 h1 {
  font-weight: 700;
 }

 h2 {
  font-size: 1em;
 }
}
